.concept{
    .tanaka{
        padding: 20px;
        width:100px;
        border: 2px dotted orange;
        p{
            font-weight: bold;
            text-align: center;
        }
    }
}
.tpo{
    background-color: cornflowerblue;
}